:root{
    --dark-color: #3074f0;
    --primary-color: #f7c9d2;
    --light-color: #f5f5f5;
    --success-color: #8e9094;
}

/* .banner_1{
    background-image: url(../../../assets/Home_Main.jpg);
    background-repeat: no-repeat;
    background-size: cover;
} */

.Discount {
    background: var(--primary-color);
}

.Discount_col1{
    color:#000;
    padding: 0.5rem;
}

.Discount h1{
    /* font-size: 1.4rem; */
    font-weight: 600;
}

@media only screen and (min-width: 320px) and (max-width:567px){

.Discount_col1{
    padding: 0.3rem;
}
}